.categories-container {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.categories-header {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    padding: 0;
}

.category-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item:hover {
    background-color: #f9f9f9;
}
